@charset "UTF-8";





/* 전체 컨테이너 */
.main-container {
    width: 100%;
   height: 1129px;
    max-width: 1190px;
    margin: 0 auto;
    padding: 20px;
    
    font-family: 'MapoFlowerIsland', Arial, sans-serif;
    color: #333;
    font-size: 16px;

    margin-left: 250px;
    margin-top: 50px;
}

/* 행 레이아웃 */
.main-row {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    flex-wrap: wrap;
    gap: 20px;
}

/* 각 카드 섹션 */
.main-card {
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    background-color: #fff;
}

/* 카드 헤더 스타일 */
.main-card-header {
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    align-items: center; 
}

/* 더보기 버튼 스타일 */
.main-more-btn {
    color: #ff4d4d;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;  /* 버튼 텍스트 크기 */
    border: 1px solid #ff4d4d;  /* 버튼에 테두리 추가 */
    padding: 5px 10px;  /* 버튼 패딩 */
    border-radius: 5px;  /* 버튼 모서리 둥글게 */
    transition: background-color 0.3s, color 0.3s;  /* 애니메이션 */
}

.main-more-btn:hover {
    background-color: #ff4d4d;  /* 버튼 배경색 변경 */
    color: #fff;  /* 버튼 텍스트 색상 변경 */
    text-decoration: none;  /* 마우스 오버 시 밑줄 제거 */
}

/* 카드 본문 스타일 */
.main-card-body {
    padding: 15px;
}

/* 리스트 스타일 */
.main-list-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* 리스트 아이템 스타일 */
.main-list-item {
    padding: 10px 0;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    color: #333;
}

.main-list-item:last-child {
    border-bottom: none;
}

/* 각 섹션별 칼럼 */
.main-shopping-info, .main-community, .main-popular-posts, .main-new-board {
    flex-basis: calc(35% - 20px); /* 최신글, 인기글, 공지사항의 너비를 30%로 설정 */
    order: 1;  
}

/* 자유게시판 위의 간격 */
.main-popular-posts {
    margin-top: 12px;
}

/* 오른쪽에 추가되는 새로운 섹션 간격 */
.main-new-board {
    margin-top: 30px;
}

.main-notice {
    flex-basis: calc(20% - 10px);
    order: 2; 
    margin-left: 15px;
}


.main-image-item {
    flex-basis: calc(45% - 20px); /* 한 줄에 4개의 이미지를 배치 */
    text-align: center;
}
.main-image-grid {
    display: flex;
    flex-wrap: wrap; /* 여러 줄로 나뉘게 설정 */
    gap: 74px; /* 이미지 간의 간격 */
    justify-content: space-between;
}