<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.itwill.mapper.ProductMapper">
	<insert id="insertProuduct">
	<selectKey resultType="int" keyProperty="productIdx">
		select product_seq.nextval from dual
	</selectKey>
	insert into product values(#{productIdx}, #{productUserid}, #{procutSubject}, #{procutContent}, #{productImage}, #{procutRegisterdate}, #{prodcutMode}, #{productPrice}, #{product_model_status}, #{product_delivery}, #{product_category}, sysdate)
	</insert>
	
	<select id="selectProductList" resultType="xyz.itwill.dto.Product">
    SELECT * FROM product ORDER BY product_register_date DESC
</select>

</mapper>