<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Atmosphere 관련 핸들러 설정 -->
    <bean id="atmosphereHandler"
          class="xyz.itwill.controller.AtmosphereChatController" />

    <!-- URL과 Atmosphere 핸들러 매핑 -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/chat/websockets/*">atmosphereHandler</prop>
            </props>
        </property>
    </bean>
	<context:component-scan base-package="xyz.itwill.service" />
	<context:component-scan base-package="xyz.itwill" />
	
	<bean id="atmosphereChatController" class="xyz.itwill.controller.AtmosphereChatController" init-method="init"/>

	
	
    <!-- 추가적으로 필요한 빈 설정 -->
  
    
</beans>
